<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399781254737-6iidjpi08to7b4oifc7inqptpqusbdfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399781254737-6iidjpi08to7b4oifc7inqptpqusbdfq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>399781254737-4hquo7igtsh6iur46jdb1jva25vsg37m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBTzd0a2HonAFOkRt8_ori0YIZ3Ms5l5_0</string>
	<key>GCM_SENDER_ID</key>
	<string>399781254737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.waverunner</string>
	<key>PROJECT_ID</key>
	<string>waverunner-c1c54</string>
	<key>STORAGE_BUCKET</key>
	<string>waverunner-c1c54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399781254737:ios:ce3457211c6731042fca70</string>
</dict>
</plist>